<h1>An error occurred</h1>
<h2>{{message}}</h2>

{% if display_exceptions is not empty %}
    {% if exception is defined %}


<hr/>

<h2>Additional information:</h2>
<h3>[exception class]</h3>
{#<h3><?= get_class($this->exception) ?></h3>#}
<dl>
    <dt>File:</dt>
    <dd>
        <pre>{{exception.getFile()}}:{{exception.getLine()}}</pre>
    </dd>
    <dt>Message:</dt>
    <dd>
        <pre>{{exception.getMessage()}}</pre>
    </dd>
    <dt>Stack trace:</dt>
    <dd>
        <pre>{{exception.getTraceAsString()}}</pre>
    </dd>
</dl>

        {% if exception.getPrevious() is not empty %}
            {% set ex = exception.getPrevious() %}
<hr/>

<h2>Previous exceptions:</h2>
<ul class="list-unstyled">
            {% for i in range(1,50) if ex is not empty %}
    <li>
        <h3>[ex class]</h3>
        <dl>
            <dt>File:</dt>
            <dd>
                <pre>{{ex.getFile()}}:{{ex.getLine()}}</pre>
            </dd>
            <dt>Message:</dt>
            <dd>
                <pre>{{ex.getMessage()}}</pre>
            </dd>
            <dt>Stack trace:</dt>
            <dd>
                <pre>{{ex.getTraceAsString()}}</pre>
            </dd>
        </dl>
    </li>
                {% set ex = ex.getPrevious() %}
                {% if i >= 50 %}
                    <li>There may be more exceptions, but we do not have enough memory to process it.</li>
                {% endif %}
            {% endfor %}
</ul>
        {% endif %}
    {% else %}
        <h3>No Exception available</h3>
    {% endif %}
{% endif %}
