<?php
$title = 'My documents';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('document', ['action' => 'add']) ?>">Add new document</a>
</p>

<table class="table">
<tr>
    <th>Title</th>
    <th>Content</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($this->paginator as $document) : ?>
    <tr>
        <td><?= $this->escapeHtml($document->title) ?></td>
        <td><?= $this->escapeHtml($document->content) ?></td>
        <td>
            <a href="<?= $this->url('document', ['action' => 'edit', 'id' => $document->id]) ?>">Edit</a>
            <a href="<?= $this->url('document', ['action' => 'delete', 'id' => $document->id]) ?>">Delete</a>
        </td>
    </tr>
<?php endforeach; ?>

<?=
    $this->paginationControl($this->paginator, 'sliding', 'partial/paginator', ['route' => 'document'])
?>
</table>
