{% set title = 'My documents' %}

[head title]
<h1>{{title}}</h1>
<p>
    <a href="{{url('document', {'action':'add'}) }}">Add new document</a>
</p>

<table class="table">
<tr>
    <th>Title</th>
    <th>Content</th>
    <th>&nbsp;</th>
</tr>
    {% for document in paginator %}
    <tr>
        <td>{{document.title}}</td>
        <td>{{document.content}}</td>
        <td>
            <a href="{{url('document', {'action':'edit', 'id':document.id})}}">Edit</a>
            <a href="{{url('document', {'action':'delete', 'id':document.id})}}">Delete</a>
        </td>
    </tr>
    {% endfor %}

    <!--$this->paginationControl($this->paginator, 'sliding', 'partial/paginator', ['route' => 'document'])-->
</table>
