<h1>Note Details</h1>

<dl>
    <dt>Note Title</dt>
    <dd><?= $this->escapeHtml($this->note->getTitle()) ?></dd>

    <dt>Note Text</dt>
    <dd><?= $this->escapeHtml($this->note->getText()) ?></dd>
</dl>
