<h1>Hall</h1>

<?php foreach ($this->notes as $note): ?>
<article>
    <h1 id="note<?= $note->getId() ?>"><?= $note->getTitle() ?></h1>
    <p><?= $note->getText() ?></p>
</article>
<?php endforeach ?>
